.fix-bottom{
	position: absolute;
	bottom: 0;
}
.bgimg{
	background-repeat: no-repeat; 
	background-size: contain;
	background-position: center center;
}

/*浮动样式*/
.clearFloat::after{
	display: block;
	content: '';
	height: 0;
	visibility: hidden;
	clear: both;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}

/*文本样式*/
.text-c{
	text-align: center;
}
