$window-bgc: rgba(255,255,255,0.6);			// window窗口背景色
$window-width: 600px;						// window窗口宽度
$window-height: 400px;						// window窗口高度
$window-radius: 4px;						// window窗口圆角
$window-shadow: 0 0 30px #000;				// window窗口阴影

$taskBar-height: 40px;						// 任务栏高度、行高
$taskBar-bgc: rgba(255,255,255,0.2);		// 任务栏背景色
$taskBar-shadow: 0px 0px 10px #000;			// 任务栏阴影